@import "cols.css";


/* Fonts */
* {
  font-family: "UbuntuSansMono Nerd Font Mono";
  font-weight: bold;
  font-size: 20px;
}

/* Transparent Waybar background */
#waybar
{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}


/* Uniform style */
#audio,
#workspaces,
#tray,
#clock,
#custom-power,
#custom-lock,
#custom-reboot,
#bluetooth,
#battery,
/*#pulseaudio,
#ulseaudio-slider,*/
#backlight,
#custom-temperature,
#memory,
#network,
#cpu
{
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
}




/*
*   #########################################
*   ################ Colours ################
*   #########################################
*/



/* On surface colours */
#workspaces,
#tray,
#clock,
#custom-power,
#custom-lock,
#custom-reboot
{
  color: @on_surface;
  background-color: @surface;
}


/* Primary colours */
#audio,
#cpu
{
  color: @on_primary_container;
  background-color: @primary_container;
}
#audio,
#cpu
{
  background-color: @on_primary;
}

/* Secondary colours */
#memory,
#network
{
  color: @on_secondary_container;
  background-color: @secondary_container;
}
#memory:hover,
#network:hover
{
  background-color: @on_secondary;
}

/* Tertiary colours */
#clock
{
  color: @on_tertiary_container;
  background-color: @tertiary_container;
}
#clock:hover
{
  background-color: @on_tertiary;
}


/*
* #########################################
* ################ Borders ################
* #########################################
*/


/* Rounded border to the right */
#custom-power
{
  margin-right: 6px;
  border-radius: 0 23px 23px 0;
}


/* Rounded border to the left */
#custom-lock
{
  margin-left: 6px;
  border-radius: 23px 0 0 23px;
}


/* Rounded border on both sides */
#audio,
#battery,
#clock,
#cpu,
#memory,
#network,
#workspaces,
#tray
{
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 23px 23px 23px 23px;
}



#custom-temperature.critical,
#pulseaudio.muted {
  color: @error;
}


/* Hover col */
#bluetooth:hover,
#network:hover,
#tray:hover,
#backlight:hover,
#battery:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#window:hover,
#workspaces button:hover
{
  background-color: @surface_container_highest;
}

/*
#workspaces button:hover{
  border-radius: 23px;
}
*/

#workspaces button.active {
  background-color: @primary_container;
  color: @on_primary_container;
  border-radius: 23px;
}


#window {
  font-weight: 500;
  font-style: italic;
}

