@import "cols.css";


/* Fonts */
* {
  font-family: "UbuntuSansMono Nerd Font Mono";
  font-weight: bold;
  font-size: 20px;
}

/* Transparent Waybar background */
#waybar
{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}


/* Uniform style */
#audio,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-power,
#custom-lock,
#custom-reboot,
#custom-temperature,
#light,
#memory,
#network,
#tray,
#workspaces
{
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}




/*
*   #########################################
*   ################ Colours ################
*   #########################################
*/



/* Surface colours */
#workspaces,
#tray,
#clock,
#custom-power,
#custom-lock,
#custom-reboot
{
  color: @on_surface;
  background-color: @surface;
}

#workspaces:hover,
#tray:hover,
#clock:hover,
#custom-power:hover,
#custom-lock:hover,
#custom-reboot:hover
{
  background-color: @surface_bright;

}

/* Primary colours */
#battery,
#network
{
  color: @on_primary_container;
  background-color: @primary_container;
}
#battery:hover,
#network:hover
{
  color: @primary;
  background-color: @surface;
}

/* Secondary colours */
#audio,
#memory
{
  color: @on_secondary_container;
  background-color: @secondary_container;
}

#audio:hover,
#memory:hover
{
  color: @secondary;
  background-color: @surface;
}

/* Tertiary colours */
#clock,
#cpu,
#light
{
  color: @on_tertiary_container;
  background-color: @tertiary_container;
}

#clock:hover,
#cpu:hover,
#light:hover
{
  color: @tertiary;
  background-color: @surface;
}

/*
* #########################################
* ################ Borders ################
* #########################################
*/


/* Rounded border to the right */
#custom-power
{
  margin-right: 6px;
  border-radius: 0 18px 18px 0;
}


/* Rounded border to the left */
#custom-lock
{
  margin-left: 6px;
  border-radius: 23px 0 0 23px;
}


/* Rounded border on both sides */

#audio,
#battery,
#clock,
#cpu,
#light,
#memory,
#network,
#workspaces,
#tray
{
  margin-right: 6px;
  margin-left: 6px;
  padding-right: 13px;
  padding-left: 13px;
  border-radius: 23px 23px 23px 23px;
}



#custom-temperature.critical,
#pulseaudio.muted {
  color: @error;
}


/* Hover col */
/*
#bluetooth:hover,
#network:hover,
#tray:hover,
#battery:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover,
#window:hover,
#workspaces button:hover
{
  background-color: @surface_container_highest;
}
*/

#workspaces button:hover{
  border-radius: 23px;
}


#workspaces button.active {
  background-color: @primary;
  color: @on_primary;
  border-radius: 23px;
}


#window {
  font-weight: 500;
  font-style: italic;
}



/*
* ######################################
* ################ Misc ################
* ######################################
*/


#backlight-slider,
#pulseaudio-slider {
    padding: 0;
    padding-left: 13px;
    margin: 0;
}
#backlight-slider slider,
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    border-radius: 10px;
    background-image: none;
    border: none;
    box-shadow: none;
}
#backlight-slider trough,
#pulseaudio-slider trough {
    min-height: 20px;
    min-width: 80px;
    border-radius: 10px;
    border: none;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 10px;
    border: none;
    background-color: @secondary;
}


#backlight-slider highlight {
    min-width: 10px;
    border-radius: 10px;
    border: none;
    background-color: @tertiary;
}
